doctype html
html(lang='en')
  head
    // Required meta tags
    meta(charset='utf-8')

    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    // Bootstrap CSS
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css', integrity='sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO', crossorigin='anonymous')

    title Admin - Daftar Pesanan

  body
    h1(contenteditable='true') Daftar  Pesanan Mitra

    form.text-left
      .table-responsive
        table.table.table-striped.table-bordered
          thead
            tr
              th(scope='col') Order Id
              th(scope='col') Order Date
              th(scope='col') Mitra Name
              th(scope='col') Material Name
              th(scope='col') Amount
              th(scope='col') Status

          tbody
            each confirm in confirms
              tr
                td #{confirm.order_id}
                td #{confirm.order_date}
                td #{confirm.username}
                td #{confirm.material_name}
                td #{confirm.amount}
                td
                  form(action="/confirm/accept/"+"#{confirm.order_id}"+"/"+"#{confirm.amount}"+"/"+"#{confirm.material_name}", method="post")
                  form(action="/confirm/accept/"+"#{confirm.order_id}"+"/"+"#{confirm.amount}"+"/"+"#{confirm.material_name}", method="post")
                    button.btn.btn-success(type='submit') Setuju

                  form(action="/confirm/decline/"+"#{confirm.order_id}", method="post")
                      button.btn.btn-danger(type='submit') Tolak
      br
      form(action="/mainadmin", method="GET")
        button.btn.btn-primary(type='submit', style="width:100%") Close
    // CSS
    style(type='text/css').
      label + label {
      margin-left: 10px;
      }
    // Optional JavaScript
    // jQuery first, then Popper.js, then Bootstrap JS
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')

    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')

    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')

    script.
